.btn-s {
	cursor: pointer;
	border: 2px solid rgb(6, 75, 92);
	border-radius: 4px;
	background: rgb(6, 75, 92);
	color: rgb(106, 227, 249);
	padding: 5px;
	box-sizing: border-box;
	flex: 1 1 0%;
	outline: none !important;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	&:hover {
		border-color: rgb(8, 108, 132);
	}

	// &:nth-child(2) {
	// 	margin-top: -0.5rem !important;
	// }
}

.text-danger svg {
	fill: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.text-danger span {
	color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.tippy-content {
	white-space: pre-line;
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* alertify修正 */
.alertify-notifier {
	text-align: center;

	.ajs-message {
		width: 300px;
	}

	/* 居中 */
	&.ajs-center .ajs-message {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	/* 颜色 */
	.ajs-message.ajs-warning {
		background: rgba(255, 163, 77, 0.95);
	}
}

/* 圆角 */
.ajs-message {
	border-radius: 6px;
}

/* 导航按钮 */
.leftbar .btn-group-vertical .limitless {
	display: none;

	svg {
		fill: rgb(106, 227, 249);

		&:hover {
			fill: white;
		}
	}
}

// 无限收藏夹页
#app .neko0.limitless-list {
	margin: -10px -20px 0px !important;

	.sticky-top,
	.sticky-bottom {
		position: sticky;
		z-index: 1010;
		padding: 0;
	}

	.sticky-top {
		top: 0;
	}

	.sticky-bottom {
		bottom: 0;
	}

	/* 模型列表 上方操作 */
	// 导出 导入 翻译
	.controller {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(5, 5, 5, 0.937);
		border-bottom: 3px solid rgb(5, 60, 72);
		padding: 10px 24px;

		&.functional {
			.container>span {
				background: #07242b;
				border: 2px solid #053c48;
				border-radius: 4px;
				color: var(--bs-primary);
				padding: 4px 8px;
				transition: all .2s ease-in-out 0s;
				outline: none !important;

				select {
					background: none;
					border: 0;
					color: var(--bs-primary);
					padding: 0;
					transition: all .2s ease-in-out 0s;
				}
			}
		}

		&.search-container {


			.search-input {

				padding: 0 6px;
				border: 1px solid #ccc;
				border-radius: 4px;
			}

			.span {
				display: inline-block;
			}

			.search-options {


				span {
					margin-right: 10px;
				}

				label {
					display: inline-block;

				}
			}

			.search-button {
				padding: 10px;
				background-color: #007bff;
				color: white;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}

			.search-button:hover {
				background-color: #0056b3;
			}

			.container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px;
			}

			#results {
				margin-top: 20px;
			}

		}

		&.pagination {
			display: flex;
			/* 激活 flexbox 布局 */
			justify-content: space-between;
			/* 左中右分布，并在两者之间有间距 */
			align-items: center;
			/* 垂直居中对齐（如果高度大于内容，才会有作用） */

		}

		&.pagination.bottom {}

		.btn {
			background: rgb(7, 36, 43);
			border: 2px solid rgb(5, 60, 72);
			border-radius: 4px;
			color: var(--bs-primary);
			padding: 4px 8px;
			transition: all 0.2s ease-in-out 0s;
			outline: none !important;

			&:hover {
				background: rgb(7, 52, 63);
				border-color: rgb(8, 108, 132);
				transform: scale(1.1);
			}
		}

		.left .btn {
			margin-right: 10px;
		}


		.container {
			max-width: 600px;
			margin: auto;
			// background: #ffffff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

			label {
				margin-right: 2px;
			}

			.sort-order,
			.sort-by,
			.filter-tags,
			.filter-platform,
			.actions {
				margin-bottom: 20px;
			}

			input[type="checkbox"],
			input[type="radio"] {
				margin-right: 5px;
			}

			button {
				padding: 8px 16px;
				background-color: #007bff;
				color: #fff;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}

			button:hover {
				background-color: #0056b3;
			}

			#result {
				margin-top: 20px;
			}

			#resultList {
				list-style-type: none;
				padding: 0;
			}

			#resultList li {
				padding: 8px;
				background: #e9ecef;
				margin-bottom: 8px;
				border-radius: 4px;
			}
		}

		.pagination-container {
			display: flex;
			align-items: center;
			gap: 5px;

			button {
				cursor: pointer;
			}

			button:disabled {
				cursor: not-allowed;
			}

			span {
				cursor: pointer;
				padding: 0 5px;
			}

			span.active {
				font-weight: bold;
				color: white;

				&:hover {
					background: rgb(7, 36, 43);
					border: 2px solid rgb(5, 60, 72);
					transform: scale(1);
				}
			}

			select {
				margin-left: 10px;
			}
		}


	}

	/* 模型列表 */
	.avatar-ul {
		margin: 10px 0;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(1, 1fr);
		padding: 0 2rem !important;
		justify-items: center;

		@media (min-width: 576px) {
			padding-right: 0;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 1920px) {
			grid-template-columns: repeat(4, 1fr);
		}

		.avatar-li {
			display: flex;

			/* margin-bottom: 0.8rem; */
			color: rgb(255, 255, 255);
			text-decoration: none;
			flex-direction: column;
			border-radius: 8px;
			overflow: hidden;
			background-color: rgb(24, 27, 31);
			transition: border-color 0.2s ease-in-out 0s;
			position: relative;
			// width: min-content;
			width: 100%;

			&:hover {
				box-shadow: inset 0 0 0 3px rgb(5 77 94);
			}

			&.broken .head:before {
				content: 'Broken';
				position: absolute;
				top: 0;
				right: -100%;
				margin: 20px 40px;
				width: 200%;
				height: 40px;
				background-color: rgba(255, 0, 0, 0.8);
				transform-origin: center;
				transform: rotate(45deg);
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&.private {
				.head {
					.name {
						background: rgba(239, 54, 54, 0.624);
					}

					.image:after {
						box-shadow: inset 0 0 0 3px rgba(239, 54, 54, 0.624);
					}
				}
			}

			.head {
				position: relative;
				background-color: rgb(37, 42, 48);
				margin: 3px;
				border-radius: 8px;

				.image {
					// max-width: 256px;
					margin: 16px;
					border-radius: 12px;
					overflow: hidden;
					position: relative;

					&:after {
						content: '';
						display: list-item;
						width: 100%;
						height: 100%;
						box-shadow: inset 0 0 0 3px rgb(255 255 255 / 18%);
						position: absolute;
						z-index: 1000;
						top: 0;
						left: 0;
						border-radius: 12px;
					}

					.img {
						width: 100%;
						min-height: 176px;
						padding-top: 75%;
						height: 0px;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
					}
				}

				.name,
				.addTime,
				.version {
					position: absolute;
					background: rgb(0 0 0 / 60%);
				}

				.name {
					bottom: 0;
					left: 0;
					width: calc(100% - 6px);
					text-align: center;
					font-size: large;
					padding: 3px 0;
					margin: 3px;
					border-radius: 0 0 9px 9px;
				}

				.addTime {
					top: 0;
					left: 0;
					border-radius: 8px 0 8px 0;
					padding: 3px 6px;
					font-size: small;
				}

				.version {
					top: 26px;
					left: 0;
					border-bottom-right-radius: 8px;
					padding: 3px 6px;
					font-size: small;
				}
			}

			.body {
				padding: 12px;
				max-width: 300px;
				flex: auto;
				text-decoration: none;

				>div {
					color: rgb(115, 115, 114);
					font-size: 0.85rem;
					transition: color 365ms;
				}

				&:hover>div {
					color: rgb(184, 184, 184);
				}

				.authorName .label,
				.description .label {
					font-weight: bold;
				}

				.authorName .value {
					color: #0e9bb1;
					transition: color 365ms;
				}

				&:hover .authorName .value {
					color: #00ddff;
				}
			}

			&:hover .platform {
				opacity: 1;
			}

			.platform {
				opacity: 0.5;
				transition: opacity 150ms ease 0s;
				display: flex;
				position: absolute;
				top: 0.75rem;
				right: 0.3rem;
				z-index: 1;

				.pc {
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
					border: 2px solid white;
					font-size: 0.6rem;
					display: flex;
					-webkit-box-align: center;
					align-items: center;
					-webkit-box-pack: center;
					justify-content: center;
					position: relative;
					z-index: 1;
					background-color: rgba(0, 168, 252, 0.733);
					color: black;
				}

				.quest {
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
					border: 2px solid white;
					font-size: 0.6rem;
					display: flex;
					-webkit-box-align: center;
					align-items: center;
					-webkit-box-pack: center;
					justify-content: center;
					position: relative;
					z-index: 0;
					left: -8px;
					background-color: rgb(0, 226, 69);
					color: black;
				}
			}

			.btn_list {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1001;
				padding: 20px;
				display: block;
				width: 100%;
				height: 100%;
				background: rgb(0 0 0 / 75%);
				opacity: 0;
				transition: opacity 365ms;
			}

			&:hover .btn_list {
				opacity: 1;
			}
		}
	}

	.lazy-background {
		background-image: none;
		/* 移除默认背景图 */
		transition: background-image 0.3s ease-in-out;
		/* 添加渐变效果 */
	}
}

// 模型详情页
.col-xs-12.content-scroll .home-content .container .flex-wrap .m-2:nth-child(1)>div:nth-child(2) {
	flex-direction: column;
}


// 系统原生收藏夹
.in-vlaf[aria-label='Avatar Image']:before {
	content: '♾️';
	position: absolute;
	top: 0.75rem;
	left: 0.8rem;
	z-index: 1;
	width: 2rem;
	height: 2rem;
	// border-radius: 50%;
	// border: 2px solid rgba(0, 168, 252, 0.733);
	// font-size: 0.6rem;
	font-size: 2rem;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: rgb(255 255 255 / 80%);
	color: rgba(0, 168, 252, 0.733);
}