.btn-s {
	background: rgb(7, 36, 43);
	border: 2px solid rgb(5, 60, 72);
	color: rgb(106, 227, 249);
}
.tippy-content {
	white-space: pre-line;
	text-align: center;
}
/* alertify修正 */
/* 居中 */
.alertify-notifier.ajs-center .ajs-message {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
/* 颜色 */
.alertify-notifier .ajs-message.ajs-warning {
	background: rgba(255, 163, 77, 0.95);
}
/* 圆角 */
.ajs-message {
	border-radius: 6px;
}

/* 导航按钮 */
.leftbar .btn-group-vertical .limitless svg {
	fill: rgb(106, 227, 249);
}
.leftbar .btn-group-vertical .limitless svg:hover {
	fill: white;
}

/* 模型列表 */
.avatar-ul {
	margin: 10px 0;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(1, 1fr);
	padding-right: 2rem;
	justify-items: center;
}
@media (min-width: 576px) {
	.avatar-ul {
		grid-template-columns: repeat(2, 1fr);
		padding-right: 0;
	}
}
@media (min-width: 992px) {
	.avatar-ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1920px) {
	.avatar-ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
.avatar-li {
	display: flex;
	/* margin-bottom: 0.8rem; */
	color: rgb(255, 255, 255);
	text-decoration: none;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
	background-color: rgb(24, 27, 31);
	transition: border-color 0.2s ease-in-out 0s;
	position: relative;
	width: fit-content;
}
.avatar-li:hover {
	box-shadow: inset 0 0 0 3px rgb(5 77 94);
}
.avatar-li .head {
	position: relative;
	background-color: rgb(37, 42, 48);
	margin: 3px;
	border-radius: 8px;
}
.avatar-li .head .image {
	max-width: 256px;
	margin: 16px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}
.avatar-li .head .image:after {
	content: '';
	display: list-item;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 3px rgb(255 255 255 / 18%);
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	border-radius: 12px;
}
.avatar-li .head .image img {
	width: 100%;
	/* 原图宽高 */
	/* width: 256px; */
	/* height: 192px; */
	min-width: 200px;
	min-height: 150px;
}
.avatar-li .head .name,
.avatar-li .head .addTime,
.avatar-li .head .version {
	position: absolute;
}
.avatar-li .head .name {
	background: rgb(0 0 0 / 60%);
	bottom: 0;
	left: 0;
	width: calc(100% - 6px);
	text-align: center;
	font-size: large;
	padding: 3px 0;
	margin: 3px;
	border-radius: 0 0 12px 12px;
}
.avatar-li .head .addTime {
	background: rgb(0 0 0 / 60%);
	top: 0;
	left: 0;
	border-radius: 8px 0 8px 0;
	padding: 3px 6px;
	font-size: small;
}
.avatar-li .head .version {
	background: rgb(0 0 0 / 60%);
	top: 26px;
	left: 0;
	border-bottom-right-radius: 8px;
	padding: 3px 6px;
	font-size: small;
}
.avatar-li .body {
	padding: 12px;
	max-width: 300px;
	flex: auto;
	text-decoration: none;
}
.avatar-li .body > div {
	color: rgb(115, 115, 114);
	font-size: 0.85rem;
	transition: color 365ms;
}
.avatar-li .body:hover > div {
	color: rgb(184, 184, 184);
}
.avatar-li .body .authorName .label,
.avatar-li .body .description .label {
	font-weight: bold;
}

.avatar-li .body .authorName .value {
	color: #0e9bb1;
	transition: color 365ms;
}
.avatar-li .body:hover .authorName .value {
	color: #00ddff;
}
.avatar-li:hover .platform {
	opacity: 1;
}
.avatar-li .platform {
	opacity: 0.5;
	transition: opacity 150ms ease 0s;
	display: flex;
	position: absolute;
	top: 0.75rem;
	right: 0.3rem;
	z-index: 1;
}
.avatar-li .platform .pc {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 2px solid white;
	font-size: 0.6rem;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	background-color: rgba(0, 168, 252, 0.733);
	color: black;
}
.avatar-li .platform .quest {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 2px solid white;
	font-size: 0.6rem;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	z-index: 0;
	left: -8px;
	background-color: rgb(0, 226, 69);
	color: black;
}

.avatar-li .btn_list {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	padding: 20px;
	display: block;
	height: 100%;
	background: rgb(0 0 0 / 75%);
	opacity: 0;
	transition: opacity 365ms;
}
.avatar-li:hover .btn_list {
	opacity: 1;
}
